html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
}
main{
    background-color: hsl(185, 75%, 39%);
    padding-top: 150px;
    height: 100%;
    
}
/* .background{
    position: absolute;
    z-index: 0;
} */
.top{
    position: absolute;
    z-index: 0;
    top:-300px;
    right:  53%;
    width:700px
}
.bottom{
    position: absolute;
    z-index: 0;
    top: 350px;
    bottom: -400px;
    left: 53%;
}
.profile-card{
    position: relative;
    height: 460px;
    width: 400px;
    background-color: white;
    background-image:url(images/bg-pattern-card.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
    text-align: center;
    font-size: 18px;
    font-family: 'Kumbh Sans', sans-serif;
    border-radius: 26px;
}
.profile-picture{
    border: solid 6px white;
    border-radius: 50%;
    margin-top: 100px;
    
}
h1,h3 {
    font-size: 1.2em;
    font-weight: 800;
}

h2, span {
   font-weight: 400;
   font-size: 1.4rem;
}
p{
    font-size: 1rem;
    font-weight: 400;
}
.details{
    display: grid;
    grid-template-columns: auto auto auto;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    margin-top: 100px;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media(max-width:375px){
html,body{
    width:375px;
    height:1000px;
    background-color: hsl(185, 75%, 39%);
    overflow: visible;
}
.background{
    position: absolute;
    z-index: 0;
}
main{
    background-color: hsl(185, 75%, 39%);
    padding-top: 300px;   
}
/* .top{
    position: relative;
    z-index: 0;
    top:-300px;
    left: -400px;
    width:800px
}
.bottom{
    position: relative;
    z-index: 0;
    width: 1000px;
    bottom:300px;
    left:200px;
} */

/* .profile-card{
    position: relative;
    height: 500px;
    width: 350px; */
/* } */

}